html {
  font-size: 24px;
  margin: 0;
  scroll-behavior: smooth;
}
span {
  font-style: italic;
}
.txt-type > .txt{
border-right: .1rem solid 
}



@media (min-width:760px) and (max-width:1130px) {
  .container h1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    z-index: 1;
    }

  .container{
      display:flex;
      flex-direction:row;
      justify-content: center;
      height: 10vh;
      width: 100vw;
      padding-top: 50px;
    }
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      color: white;
      font-size: .65rem;
      }
      
      .nav-links{
        display: flex;
        justify-content:space-around;
        width: 90%;
        color: white;
      }
      
      .nav-links li{
        list-style: none;
        color: white;
       
      }
      
      .nav-links li a{
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
      }
      .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        height: 1000px;
        width:100vw;
        color: white;
      }
      
      
      .section p {
        padding-left: 60px;
        padding-right: 60px;
      } 
      .section a {
        color: white;
      }
      
      .section span {
        padding-top: 50px;
        margin-bottom: 20px;
      }
      .section h3 {
        padding-left: 30px;
      } 
      .image-main a {
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .image-main  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
        padding-left: 100px;
        margin-bottom: 30px;
      }
      .title1 {
        color: white;
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
      }

      #moon {
        width: 15%;
        z-index: 0;
        mix-blend-mode:luminosity ;
        position: absolute;
        top:20rem;
        left: 50px;
      }
      #spectator {
        position: absolute;
       bottom: 0;
      left: -8px;
      width: 100vw;
      z-index: 2;
      }
      .hero {
        margin:0;
        width: 100%;
        height: 754px;
        background-image: linear-gradient(0deg, rgba(130,89,213,255) 0%, rgba(253,187,45,1) 100%);
        position:absolute;
        background-repeat: no-repeat;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
      }
}

@media (min-width:1130px) and (max-width:1200px) {
  .container h1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    z-index: 1;
    }

  .container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    padding-top: 50px;
  }
    
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      color: white;
      font-size: 1rem;
      }
      
      .nav-links{
        display: flex;
        justify-content:space-around;
        width: 80%;
        color: white;
      }
      
      .nav-links li{
        list-style: none;
        color: black;
       
      }
      
      .nav-links li a{
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
      }
      .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        height: 1000px;
        width:100vw;
        color: white;
      }
      
      
      .section p {
        padding-left: 60px;
        padding-right: 60px;
      } 
      .section a {
        color: white;
      }
      
      .section span {
        padding-top: 50px;
        margin-bottom: 20px;
      }
      .section h3 {
        padding-left: 30px;
      } 

      .image-main a {
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .image-main  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
        padding-left: 100px;
        margin-bottom: 30px;
      }
      .title1 {
        color: white;
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
      }

      #moon {
        width: 20%;
        z-index: 0;
        mix-blend-mode:luminosity ;
        position: absolute;
        top:12rem;
        left: 50px;
      }
      #spectator {
        position: absolute;
       bottom: 0;
      left: -8px;
      width: 100vw;
      z-index: 2;
      }
      .hero {
        margin:0;
        width: 100%;
        height: 754px;
        background-image: linear-gradient(0deg, rgba(130,89,213,255) 0%, rgba(253,187,45,1) 100%);
        position:absolute;
        background-repeat: no-repeat;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
      }
}
@media (min-width:1201px) {

  .container h1 {
    font-size: 2rem;
    font-weight: 200;
    color: white;
    margin: 2.5rem;
    z-index: 1;
    }

  .container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    padding-top: -10px;
  }
    
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      color: white;
      font-size: 1rem;

      }
      
      .nav-links{
        display: flex;
        justify-content:space-around;
        width: 100%;
        color: white;
      }
      
      .nav-links li{
        list-style: none;
        color: white;
       
      }
      
      .nav-links li a{
        color: white;
        text-decoration: none;
        letter-spacing: 2px;
      }
      .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        height: 1000px;
        width:100vw;
        color: white;
        margin-bottom: 20px;
      }
      
      
      .section p {
        padding-left: 60px;
        padding-right: 60px;
      } 
      .section a {
        color: white;
        margin-bottom: 20px;
      }
      
      .section span {
        padding-top: 50px;
      }
      .section h3 {
        padding-left: 30px;
      } 

      .image-main a {
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .image-main  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
        padding-left: 100px;
        margin-bottom: 30px;
      }
      .title1 {
        color: white;
        display:flex;
        flex-direction: row;
        justify-content: center;
      }
        #moon {
          width: 25%;
          z-index: 0;
          mix-blend-mode:luminosity ;
          position: absolute;
          top: 10rem;
          left: 50px;
        }
          #spectator {
            position: absolute;
           bottom: 0;
          left: -8px;
          width: 100vw;
          z-index: 2;
          }
          .hero {
            margin:0;
            width: 100%;
            height: 754px;
            background-image: linear-gradient(0deg, rgba(130,89,213,255) 0%, rgba(253,187,45,1) 100%);
            position:absolute;
            background-repeat: no-repeat;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: -1;
          }
        }

@media (min-width:451px) and (max-width:760px){

  .container h1 {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    width: 100%;
    z-index: 1;
    padding-left: 90px;
    }
    .container{
      display:flex;
      flex-direction:row;
      justify-content: center;
      height: 10vh;
      width: 100vw;
      padding-top: 50px;
    }
    
    nav {
      display: flex;
      flex-direction: row;
      justify-content:left;
      align-items: center;
      min-height: 4vh;
      color: white;
      font-size: .5rem;
      width: 100%;
      }
      
      .nav-links{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        color: white;
      }
      
      .nav-links li{
        list-style: none;
        color: white;
      }
      
      .nav-links li a{
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
      }
  .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  height: 1000px;
  width:100vw;
  color: white;
}

.section p {
  padding-left: 60px;
  padding-right: 60px;
} 
.section a {
  color: white;
  margin-bottom: 20px;
}

.section span {
  padding-top: 50px;
  margin-bottom: 20px;
}
.section h3 {
  padding-left: 30px;
} 
      #moon {
        width: 15%;
        z-index: 0;
        mix-blend-mode:luminosity ;
        position: absolute;
        top: 18rem;
        left: 50px;
      }
      #spectator {
        position: absolute;
       bottom: 0;
      left: -8px;
      width: 100vw;
      z-index: 2;
      }
      .hero {
        margin:0;
        width: 100%;
        height: 754px;
        background-image: linear-gradient(0deg, rgba(130,89,213,255) 0%, rgba(253,187,45,1) 100%);
        position:absolute;
        background-repeat: no-repeat;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
      }
      .image-main a {
        display:flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .image-main  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
        padding-left: 100px;
        margin-bottom: 30px;
      }
      .title1 {
        color: white;
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin: 30px;
      }

      .section h1 {
        z-index: 0;
      }

}

@media (min-width:376px) and (max-width:450px) {
  .hero {
    margin:0;
    width: 100%;
    height: 754px;
    background-image: linear-gradient(0deg, rgba(130,89,213,255) 0%, rgba(253,187,45,1) 100%);
    position:absolute;
    background-repeat: no-repeat;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
  }
  body{
    overflow-x:hidden;
  }
  .nav-links {
    position:absolute ;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }
  .nav-links li a{
    color: white;
  }

  .burger{
    display: block;
  }

  .container h1 {
    font-size: .8rem;
    font-weight: 200;
    color: white;
    width: 100%;
    z-index: 1;
    }
    .container{
      display:flex;
      flex-direction:row;
      justify-content: center;
      height: 10vh;
      padding-left: 90px;
      width: 100vw;
      
    }

  .nav-active{
    transform: translateX(0%);
  }
  .image-main a {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .image-main  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 30px;
  }
  .title1 {
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
  }
  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #moon {
    width: 10%;
    z-index: 0;
    mix-blend-mode:luminosity ;
    position: absolute;
    top:10rem;
    left: 50px;
    }
  
  #spectator {
    position: absolute;
   bottom: 0;
  left: -8px;
  width: 100vw;
  z-index: 2;
  }
}
  


@media (max-width:375px) {
  body{
    overflow-x:hidden;
  }
  .nav-links {
    position:absolute ;
    right: 0px;
    height: 100vh;
    top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 100vw;
    background-color:black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }
  .nav-links li a{
    color: white;
    text-decoration: none;
  }

  .burger{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-top: 35px;

  }

.burger div{
  height: 2px;
  width: 25px;
  margin: 3px;
  background-color:white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  height: 1000px;
  width:100vw;
  color: white;
}


.section p {
  padding-left: 60px;
  padding-right: 60px;
} 
.section a {
  color: white;
}

.section span {
  padding-top: 50px;
}
.section h3 {
  padding-left: 30px;
} 
 .container{
      display:flex;
      flex-direction:column;
      justify-content: center;
      height: 85vh;
      padding: 0 1.4rem;
      width: 100%;
      color: white;
      font-size: .4rem;
    }


.image-main a {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.image-main  {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 30px;
}
.title1 h1 {
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.title1 {
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

  .nav-active{
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
#moon {
  width: 10%;
  z-index: 0;
  mix-blend-mode:luminosity ;
  position: absolute;
  top:10rem;
  left: 50px;
  }

#spectator {
  position: absolute;
 top: 644px;
left: 0px;
width: 100vw;
z-index: 2;
}
.hero {
  margin:0;
  width: 100%;
  height: 754px;
  background-image: linear-gradient(0deg, rgba(130,89,213,255) 0%, rgba(253,187,45,1) 100%);
  position:absolute;
  background-repeat: no-repeat;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

}













body {
  background-color:#201738;
}

